* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--background-color);
}

a {
  color: unset;    
  text-decoration: none;
}

.my-team__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-team__container-main {
  background: var(--secondary-color);
  padding: 2.8rem 4rem;
  border-radius: 1.2rem;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .2);
  width: 67rem;
}

@media screen and (max-width: 750px) {
  .my-team__container-main {
      width: 90%;
  }    
}